name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh

  exercises:
    name: Exercises
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install sponge
        run: sudo apt-get install moreutils
      - name: Check compatibility with current exercises
        run: bin/run-all-exercises-in-docker.sh /tmp/output
